
@{
    ViewBag.Title = "Alumni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="form-inline container" id="AlumniFirst">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Triggers</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;View University Triggers</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Create Custom Triggers</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;library</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Search for Book/Paper (Can Be By Topic)</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Request a Book for Borrowing</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Borrowing Wait list</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Borrowing Status</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Events</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Events</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Add new Event</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Events to Join</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Upcoming Events</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Sync with my Google Calendar</a></i></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Survey</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Current Survey</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Survey History</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Survey Results</a></i></li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Requests</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;New Request</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Current Request Status</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Request History</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Profile</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Change Image</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Change Themes</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Manage Shared Access</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Notifications</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;View Notification</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Create Custom Notification</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Mark Notification as Read</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Manage Notification (Ex: Don’t Receive)</a></i></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Career Achievements</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Achievements</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Share Experience (about Work)</a></i></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="form-inline container hidden" id="AlumniSecond">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Employment</i></h1>
                <ul>
                    <li>
                        <i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Join Sinai University Employment Group</a></i>
                        <ul>
                            <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Create CV</a></i></li>
                            <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Job Preference</a></i></li>
                            <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Job Preference</a></i></li>
                        </ul>
                    </li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Announce for job in my Company</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My career Path</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Message</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Generate Message</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Inbox</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Sent</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Manage Groups</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Live Chat</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Dorms</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;New Booking</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Change Booking</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Request Extra Service</a></i></li>
                    <li>
                        <i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Tickets</a></i>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Generate Tickets</a></i></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Manage Current Tickets</a></i></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;History</a></i></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Transportation</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Booking</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Travel</a></i></li>
                    <li>
                        <i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Current Travel</a></i>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Bus Info</a></i></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Driver Info</a></i></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Meeting Points</a></i></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"><a href="#">&nbsp;Current Buss Location</a></i></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">


            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Memories</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;University Memories</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Faculty Memories</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Memories</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Tagged IN</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Share Memories</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;Training Courses</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Upcoming Training</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Courses</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Courses History</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;My Certificate</a></i></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <h1 class="ListHeader"><i class="fa fa-arrow-circle-right" aria-hidden="true">&nbsp;University Awards</i></h1>
                <ul>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Award Status</a></i></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"><a href="#">&nbsp;Award History</a></i></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 50px">
        <ul class="pager">
            <li><a href="#" onclick="ShowAlumniFirst()">1</a></li>
            <li><a href="#" onclick="ShowAlumniSecond()">2</a></li>
        </ul>
    </div>
</div>
    <script>
        function ShowAlumniFirst() {
            $("#AlumniFirst").removeClass("hidden");
            $("#AlumniSecond").addClass("hidden");
        }
        function ShowAlumniSecond() {
            $("#AlumniSecond").removeClass("hidden");
            $("#AlumniFirst").addClass("hidden");
        }

    </script>

    <style>
        .ListHeader {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 100;
            font-size: 20px;
            color: #3351c3;
        }

        ul {
            list-style: none;
            font-size: 14px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
<script>
    window.onload = function () {
        $("#LblUserName").text("User ID");
        $("#lnkSignup").addClass("hidden");
    }
</script>


