
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-primary"><strong><i class="fa fa-envelope-o fa-lg"></i>&ensp;Send Password</strong></h1>
<h4 class="text-center">You will Recive an Email for your Application ID <strong class="text-primary">123456789</strong> To Your Email <strong class="text-primary">Example@gmail.com</strong></h4>

<br /> 
<div class="btn-group-sm ">
    <a id="btnSend" onclick="ShowSendEmailModal()" href="#" class="btn btn-sm  btn-success"><i class="fa fa-paper-plane" aria-hidden="true">&ensp;Send Eamil</i></a>
    <a id="btnCancel" href="/Home/Index" class="btn btn-sm  btn-danger"><i class="fa fa-ban" aria-hidden="true">&ensp;Cancel</i></a>
    <a href="~/Registere/ChangeEmail" class="btn btn-sm  btn-info"><i class="fa fa-envelope" aria-hidden="true">&ensp;Change Email</i></a>
</div>

<div id="SendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading panel-sm">
                <h5><b><i class="fa fa-paper-plane" aria-hidden="true">&ensp;Sending...!</i></b></h5>
            </div>
            <div class="panel-body">
                <strong class="text-success">Successful..!</strong> <p id="AlertMSG" class="text-primary">Email sent successfully ... Please check your inbox</p>
            </div>
            <div class="panel-footer">
                <div class="btn-group-sm">
                    <a class="btn btn-success hidden"> Confirm</a>
                    <a class="btn btn-danger hidden"> Cancel</a>
                    <a class="btn btn-primary" onclick="Closemodal()">Ok</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function ShowSendEmailModal() {
        debugger;
        $('#SendModal').modal("show");
    }
    function Closemodal() {
        $('#SendModal').modal("hide");
    }

    window.onload = function () {
        $("#leftCol").remove();
    }
</script>
<style>
    .modal {
        text-align: center;
        padding: 0 !important;
    }

        .modal:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px;
        }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>
