<div class="container-fluid">
    <br /><br />
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Payment of fees</strong>
            </div>
            <div class="panel-body">
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;From : 2017-02-02 / To : 2017-02-10</small></p>
                <p>Test Sample Test Sample Test Sample Test Sample Test Sample </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Payment of fees</strong>
            </div>
            <div class="panel-body">
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;From : 2017-02-02 / To : 2017-02-10</small></p>
                <p>Test Sample Test Sample Test Sample Test Sample Test Sample </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Payment of fees</strong>
            </div>
            <div class="panel-body">
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;From : 2017-02-02 / To : 2017-02-10</small></p>
                <p>Test Sample Test Sample Test Sample Test Sample Test Sample </p>
            </div>
        </div>
    </div>
</div>
<script>
    function Toggle(id) {
        $("#" + id).toggle("fade in");
    }
    window.onload = function () {
        $("#leftCol").addClass("collapse");
        $("#ContentArea").css("width", "100%");
        $("#ContentArea").css("margin-left", "10px");
        $("#ContentArea").css("margin-right", "10px");
        $("#subApplicant").fadeIn(2000, 200);
    }
</script>