<div class="container-fluid">
    <div class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <!-- /.box-header -->
                                <div class="box-body no-padding">
                                    <div class="mailbox-controls">
                                        <!-- /.btn-group -->
                                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                        <div class="pull-right">
                                            1-50/200
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!-- /.btn-group -->
                                        </div>
                                        <!-- /.pull-right -->
                                    </div>
                                    <div class="table-responsive mailbox-messages">
                                        <table class="table table-hover table-striped">
                                            <tbody>
                                                <tr>
                                                    <td class="mailbox-name"><a onclick="ReadMail()" href="#">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">5 mins ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">28 mins ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">11 hours ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">15 hours ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">Yesterday</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">2 days ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">2 days ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">2 days ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">2 days ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"></td>
                                                    <td class="mailbox-date">2 days ago</td>
                                                </tr>
                                                <tr>
                                                    <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
                                                    <td class="mailbox-subject">
                                                        <b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...
                                                    </td>
                                                    <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                    <td class="mailbox-date">15 days ago</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- /.table -->
                                    </div>
                                    <!-- /.mail-box-messages -->
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer no-padding">
                                    <div class="mailbox-controls">
                                        <div class="pull-right">
                                            1-50/200
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                            </div>
                                            <!-- /.btn-group -->
                                        </div>
                                        <!-- /.pull-right -->
                                    </div>
                                </div>
                            </div>
                            <!-- /. box -->
                        </div>

                        <div id="PreviewDiv" class="col-sm-6 collapse">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                       <h3><strong>Preview Massege</strong></h3> 
                                        <p class="fa fa-calendar-check-o">&nbsp; 2017-05-08</p>&nbsp;&nbsp;
                                        <p class="fa fa-clock-o">&nbsp; 12:50 pm</p>
                                        <a href="#" class="pull-right fa fa-print">&nbsp;Print</a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    fffffffffffssdf
                                    sdf
                                    s
                                    sdfsd


                                    sfsdfdf4
                                    33
                                    434g34g34g
                                </div>
    
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
            e.preventDefault();
            //detect type
            var $this = $(this).find("a > i");
            var glyph = $this.hasClass("glyphicon");
            var fa = $this.hasClass("fa");

            //Switch states
            if (glyph) {
                $this.toggleClass("glyphicon-star");
                $this.toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $this.toggleClass("fa-star");
                $this.toggleClass("fa-star-o");
            }
        });
    });
</script>


<script>
    function ReadMail() {
        $("#PreviewDiv").slideDown(500);
    }
    window.onload = function () {
        $("#leftCol").addClass("collapse");
        $("#ContentArea").css("width", "100%");
        $("#ContentArea").css("margin-left", "10px");
        $("#ContentArea").css("margin-right", "10px");
        $("#subApplicant").fadeIn(2000, 200);
    }
</script>